<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
  </head>
  <body>
    <a href="/new">New Message</a>
    <ul>
      <% messages.map((message) => { %>
        <li>
          <h3><%= message.user %></h3>
          <p><%= message.added %></p>
          <p><%= message.text %></p>
          <a href="/open/<%=message.id%>">Open</a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>