<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Details</title>
</head>
<body>
  <a href="/">Home</a>
  <% let details = messages.filter((message) => message.id == id)[0] %>
  <h4>Author:</h4>  
  <h3><%= details.author %></h3>
  <h4>Date:</h4>
  <h3><%= details.added %></h3>
  <h4>Message:</h4>
  <h3><%= details.message %></h3>
</body>
</html>